{% extends "layout.html" %}
{% block content %}
<h2>あなたにぴったりのおせち料理はこちら！</h2>
{% if selected_osechi %}
{% for i in selected_osechi %}
<span>
    <img src={{i.image}} alt={{i.name}} width=200px;>
    <span>{{i.name}}</span>
</span>
<!-- <span>クリックすると説明が開くよ</span> -->

<hidden value={{i.wish}};></hidden>
{% endfor %}
{% else %}
<a class="btn" href=https://www.kyoto-watanabe.com/osechi>クリック！</a>

{% endif %}

<form action="/reset" method="POST">
    <button class="btn btn-push" type="submit" name="answer" value="yes">もういちどあそぶ</button>
</form>
{% endblock %}